*{
    margin: 0;
    padding: 0;
    border-sizing:border-box;
}
.container{
    margin: 1%;
}
.xgz{
    width: 30vw;
    height: 30vw;
    margin: 1vw;
    background-color: #fea500;
    float: left;
    border-radius: 20%;
}
#consoles{

}
.button{
    margin: 1% 2%;
    float: left;
    width: 93vw;
    height: 10vw;
    line-height: 10vw;
    text-align: center;
    border-radius: 1.5em;
    border: 1px solid orange;
    color: orange;
}
.bgcolor{
    background-color: orange;
    color: white;
}